body{
    background-image: url(../img/bgc.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    height:100vh;
    color:#FFF;}
body.discovery{overflow: hidden;}

.btn.shadow{box-shadow: 2px 2px 4px #333;}

.alert{
    width: 400px;
    max-width: 95%;
    margin: 10px auto;
    position: absolute;
    top:74px;
    right: 10px;
    -webkit-animation: slide-in 0.5s forwards;
    animation: slide-in 0.5s forwards;
}
.info .overlay{padding: 20px;}

.tab-wrapper{display: none;}
.tab-content{overflow: hidden;}
.overlay{background: rgba(22,22,22,0.5);}

.action{margin-bottom: 15px;}
.action .form-group label{margin-bottom: 1px;}
.action .form-group:first-child{padding-right: 0px;}
.action .form-group:first-child input{border-top-right-radius: 0px;border-bottom-right-radius: 0px;}
.action .form-group:nth-child(2){padding-left: 0px; padding-right: 0px;}
.action .form-group:nth-child(2) select{border-radius: 0px;padding-left:2px;padding-right:0px;border-left:0px;}
.action .form-group:nth-child(3){padding-left: 0px;}
.action .form-group:nth-child(3) #btn-calculate{margin-top: 25px;border-top-left-radius: 0px;border-bottom-left-radius: 0px; padding-left:2px;padding-right: 0px;}

.tab-pane{height:calc(100vh - 190px);overflow: auto;}
.nav-tabs a.nav-link{
    color:#FFF;
    font-weight: bold;
    border-bottom: 0px;
    margin-bottom: 1px;
    background-color: rgba(111,111,111,0.5);
    margin-right: 5px;}
.nav-tabs a.nav-link:hover{border-bottom: 0px;background-color: rgba(22,22,22,0.6);color:#EEE;}
.nav-tabs a.nav-link.active:hover{background-color: rgba(22,22,22,0.5);color:#FFF;}
.nav-tabs{border-bottom: 0px;}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: rgba(22,22,22,0.5);
    color:#FFF;
    border-color:#444;
    border-bottom: 0px;
}
/* .table tr:first-child th,.table tr:first-child td{border-top: 0px;} */
table tr:hover{background: rgba(22,22,22,0.5);}
table th,table td{white-space: nowrap;}

a.owner{color:#FFF;font-weight: bold;}

/*tabs animation*/
@keyframes slide-in {
    0% { transform: translateX(120%); }
    50%{ transform: translateX(-5%);}
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    0% { transform: translateX(120%); }
    50%{ transform: translateX(-5%);}
    100% { transform: translateX(0%); }
}
    
@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-120%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-120%); }
}

.slideOut{
    -webkit-animation: slide-out 0.3s forwards;
    -moz-animation: slide-out 0.3s forwards;
    -o-animation: slide-out 0.3s forwards;
    -ms-animation: slide-out 0.3s forwards;
    animation: slide-out 0.3s forwards;
}
.slideIn{
    -webkit-animation: slide-in 0.3s forwards;
    -moz-animation: slide-in 0.3s forwards;
    -o-animation: slide-in 0.3s forwards;
    -ms-animation: slide-in 0.3s forwards;
    animation: slide-in 0.3s forwards;
}
/*tab-items animation*/
.tab-pane.active {
    -webkit-animation: slide-in 0.3s ease-out;
    -moz-animation: slide-in 0.3s ease-out;
    -o-animation: slide-in 0.3s ease-out;
    -ms-animation: slide-in 0.3s ease-out;
    animation: slide-in 0.3s ease-out;
}

/*discovery*/
.discovery-btn-wrapper{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    position:fixed;
    right:0px;
    bottom:0px;
    padding:10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.discovery-btn-wrapper.shown{background: #FFF;}
.discovery-btn-wrapper.hidden{background: transparent;}
.btn-discovery{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.btn-discovery.bg-border{border:4px solid #FFF;}
.discovery-wrapper{
    overflow:hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width:0px;
    height:0px;
    background: rgb(31, 161, 61);
    position: fixed;
    right:calc(-45vh + 120px);
    bottom:calc(-45vh + 120px);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.discovery-wrapper.shown{
    width:90vh;
    height:90vh;
    right:calc(-45vh + 50px);
    bottom:calc(-45vh + 50px);
    padding:16vh 11vh;
}
@media only screen and (max-height:500px){
    .discovery-wrapper.shown{
        width:450px;
        height:450px;
        right:-110px;
        bottom:-110px;
        padding:80px 50px;
    }
}
.discovery-wrapper.hidden{
    width:0px;
    height:0px;
    right:25px;
    bottom:25px;
}
.discovery-wrapper.hidden *{display: none;}
.discovery-wrapper .btn-star-app,
.discovery-wrapper .btn-share-app,
.discovery-wrapper .btn-otherApps-app{
    margin-bottom: 10px;
}



